<!-- 这里只是演示的配置，直接输出到控制台，生产环境不要用这配置！！ -->
<configuration scan="true" scanPeriod="2 seconds">
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %X{_timestamp_}  [%thread] %-5level %logger{36} %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>