<?xml version="1.0" encoding="UTF-8"?>
<!-- 已经打开自动扫描功能，间隔30秒，所以在系统启动后可以直接修改此文件，无需重启服务器 -->
<configuration scan="false">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%level][%logger{50}:%line]-%msg%n</Pattern>
		</encoder>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
